/* This defines styles and classes used in the book */
@font-face { 
    font-family: "titlefont"; 
    src: url("kabel.ttf"); 
    } 

@font-face {
    font-family: "codefont";
    src: url("Nouveau_IBM.ttf");
}

body { margin: 5%; text-align: justify; font-size: medium; font-family: sans; }
code { font-family: codefont, monospace;}
pre  { font-family: codefont, monospace;
       background-color: #ccc;
       border: 1px solid #444;
       padding: 6px;
       word-wrap: break-word;
       font-size: 0.8em;
       overflow: hidden;
     }
blockquote {
    background-color: #FFFF99;
    border: 1px solid #FFCC00;
    border-top: 7px solid #FFCC00;
    padding: 6px;
    font-size: 0.7em;
}

h1 { text-align: left; font-family: titlefont; }
h2 { text-align: left; font-family: titlefont; }
h3 { text-align: left; font-family: titlefont; }
h4 { text-align: left; font-family: titlefont; }
h5 { text-align: left; font-family: titlefont; }
h6 { text-align: left; font-family: titlefont; }
h1.title { font-family: titlefont; }
h2.author { font-family: titlefont; }
h3.date { font-family: titlefont; }
ol.toc { padding: 0; margin-left: 1em; }
ol.toc li { list-style-type: none; margin: 0; padding: 0; }
